<div class="container-fluid map">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 white">
        <div class="white-box">
          <div class="title">
            <h1 class="help">Padek</h1>
            <h2 class="fix">fiksuoti</h2>
            <h3 class="violation">pazeidimus</h3>
          </div>
          <button class="btn btn-danger" type="submit" name="button">Ikelk</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container flex-column">
    <div class="d-flex flex-row">
      <div class="col-lg-4 d-flex flex-column justify-content-around center block">
        <div class="picture-icon">
          <img src="../../assets/photo-camera.svg" alt="">
        </div>
        <h4>Fiksuok</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col-lg-4 d-flex flex-column justify-content-around center block">
        <div class="picture-icon">
          <img src="" alt="">
        </div>
        <h4>Ikelk</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col-lg-4 d-flex flex-column justify-content-around center block">
        <div class="picture-icon">
          <img src="" alt="">
        </div>
        <h4>Dalinkis</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="row-lg-12 center">
      <button class="btn btn-danger" type="submit" name="button">Ikelk</button>
    </div>
  </div>
  <div class="container gallery">
    <div class="row">
      <div class="col-lg-4">
        <img src="../../assets/car1.jpg" alt="">
      </div>
      <div class="col-lg-4">
        <img src="../../assets/car2.jpg" alt="">
      </div>
      <div class="col-lg-4">
        <img src="../../assets/car3.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img src="" alt="">
      </div>
      <div class="col-lg-4">
        <img src="" alt="">
      </div>
      <div class="col-lg-4">
        <img src="" alt="">
      </div>
    </div>
  </div>
</div>
