section{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  height: 100vh;
  background-color: silver;
}

.regform{
  border-radius:1%;
  margin-top: 50px;
  padding: 10px;
  width: 30%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: olive;
  mat-form-field{
    width: 100%;
    height: 80px;
    background-color: none;
    input{
      width: 100%;
      height: 23px;
    }
  }
}

button{
  width: 120px;
}
