<section>
  <form class="d-flex regform" action="index.html" method="post">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Vardas" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput type="email" placeholder="El.paštas" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput type="tel" placeholder="Telefonas" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput type="password" placeholder="Slaptažodis" required>
    </mat-form-field>
      <button mat-flat-button color="primary" type="button" name="button">Siusti</button>
  </form>
</section>
